@font-face{
  font-family: DancingScript-Regular;
  src:url(../fuentes/DancingScript-Regular.otf);
}
@font-face{
  font-family: Roboto-Bold;
  src:url(../fuentes/Roboto-Bold.ttf);
}
.pagina
 {
    margin:0px auto;
    width:800px;
} 
.cabecera
{
  
  width:91.5%;
  margin-left: 5%;
  height:16%;
  background-color:#5b7989;
  color:#FFFFFF;
  padding:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

 .contenido
 {
  height:100%;
  overflow:auto;
  padding:10px;
  width:800px;
  color: green;

 }
.texto
{
  font-family:DancingScript-Regular;
  color: white;
  border-left:5%;
  margin-top: 11px;
  font-size: 250%;
  text-shadow: 2px 2px 2px #02010a;
  width: 50%;
  box-sizing: border-box;

}
.link
{
 margin-left: 70%;
  margin-right:-68%;
  color:white;
  font-family:DancingScript-Regular;
  font-size: 120%;
  margin-top: 2%;
  height: 50%;
  box-sizing: border-box;
  margin-bottom: 0%;

}
.img1
{
  position:absolute; right:16%;
  width: 65%;
  height:50%;
  margin-top: 0%;
  box-shadow: 2px 2px 2px 2px #02010a;
}




  .img1:before{
    content: "";
    width: 40%;
    height: 30%;
    background-color: green;
    position: absolute;
    opacity: 0.5;
  }


.contenedor{
background-color: #d5c75f;
  color: white;
  width: 85.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 50%;
  padding: 40px; 
  bottom: 0;
  margin-top: 0%;
}
.img2{
  width: 47%; 
  height: 100%;
  margin-left: -1%;
  margin-top:-2%;
  bottom: 0;
  margin-right:11%;
  box-shadow: 2px 2px 2px 2px #82c3a6;
}
.img3
{
  width: 42%;
  height: 100%;
  margin-top: -2%;
  bottom: 0;
  box-shadow: 2px 2px 2px 2px #82c3a6;
}
  .img2:hover{
  transform: rotate(10deg);
}
.contenedor1
{
background:  #82c3a6;
  color: white;
  width: 85.5%;
  margin-left: 5%;
  height: 50%;
  padding: 40px; 
  bottom: 0;
  margin-top: 0%;
}
.img3:hover{
  transform:translate(5px,20px);
}
footer{
  background: #C6d5c5;
  color: black;
  width: 85.5%;
  margin-left: 5%;
  padding: 40px; 
  bottom: 0;
  margin-top: -1.4%;
  font-family:DancingScript-Regular; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-footer-all{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.container-body{
  display: flex;
  justify-content: space-between;
}
.colum1{
  max-width: 300px;
}
.colum1 h1{
  font-size: 25px;
}
.colum1 p{
  font-size: 18px;
  color: black;
  margin-top: 20px;
}
.colum2{
  max-width: 300px;
}
.colum2 h1{
  font-size: 25px;
}
.colum2 p{
    font-size: 18px;
  color: black;
  margin-top: 20px;
}
.colum3{
  max-width: 300px;
}
.colum3 h1{
  font-size: 25px;
}
.row{
  margin-top: 20px;
  display: flex;
}
.row img{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 10px;
  margin-left: 20px;
}
.colum4{
  max-width: 300px;
}
.colum4 h1{
  font-size: 25px;
}
.colum4 img{
  width: 36px;
  height: 36px;
}
.colum4 label{
  margin-top: 0px;
  margin-left: 10px;
}
.link2{
  color:white;
  font-family:DancingScript-Regular;
  font-size: 120%;
  margin-left:17%;
}
.link3
{
   color:white;
  font-family:DancingScript-Regular;
  font-size: 120%;
  margin-left:50%;

}
.contenedor4{
  background:#d5c75f;
  color: white;
  width: 85.5%;
  margin-left: 5%;
  height: 90%;
  padding: 40px; 
  bottom: 0;
  margin-top: 0%;
}
.img7{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
  margin-top: 0%;
  filter: blur(10px);
}
.img5{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
  margin-top: 0%;
  -webkit-filter: grayscale(100%);
}
.img6{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
  margin-top: 0%;
  -webkit-filter: sepia(90%);
}
.img8{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
  margin-top: 3%;
filter: grayscale(100%);
}
.img9{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
}
.img10{
  width: 30%;
  height: 40%;
  margin-left: 2.3%;
   -webkit-filter: grayscale(100%);
}
.conteneedor{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 780px) and (max-width: 1024px){
  .texto{
    font-size: 356%;
    text-align: center;
    margin-left: 28%;
  }
  .link{
    text-align: center;
    margin-left: 30%;
    margin-right: -237px;
    font-size: 200%;
  }
}
@media screen and (min-width:480px) and (max-width: 780px)
{
  .texto{
    text-align: center;
    margin-left: 23%;
    font-size: 157%;
  }
  .link
  {
    margin-left: 22%;
    margin-right: -15%;
    font-size: 96%;
  }
  .link3{
    margin-left: 38%
  }
  .colum1{
    margin-left: -4%;
  }
}
@media screen and (max-width: 480px){
  .texto{
    margin-top:-3px;
    text-align: center;
    margin-left: 22%;
    font-size: 166%;
  }
  .link{
    font-size: 68%;
    margin-left: 16%;
    margin-right: 2%;
  }
  .contenedor{
    height: 100%;
  }
  .img2
  {
    width: 90%;
    height: 39%;
  }
  .img3
  {
    width: 90%;
    height: 39%;
    margin-top: 10%;
    margin-left: -2%;
  }
  .link2{
    margin-left: 3%;
    font-size: 132%;
  }
  .link3
  {
    margin-left: 10%;
    font-size: 132%;
  }
  .container-body{
    flex-wrap: wrap;
  }
  .contenedor4{
    height:150%;
  }
  .img7
  {
    width: 80%;
    height: 15%;
  }
  .img5
  {
    width: 80%;
    height: 15%;
    margin-top: 7%;

  }
  .img6{
    width: 80%;
    height: 15%;
    margin-top: 7%;
  }
  .img8{
    width: 80%;
    height: 15%;
    margin-top: 7%;
  }
  .img9{
    width: 80%;
    height: 15%;
    margin-top: 7%;
  }
  .img10{
    width: 80%;
    height: 15%;
    margin-top: 7%;
  }
}